@import "react-alice-carousel/lib/alice-carousel.css";

.container {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 36px;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
}

.imageContainer img {
  border-radius: 16px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main h4 {
  font-weight: 800;
}

.lessonInfo {
  display: flex;
  flex-direction: column;
  padding: 24px;
  padding-top: 16px;
  background-color: white;
  width: 755px;
  border-radius: 8px;
  gap: 20px;
}

.title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.icon {
  display: flex;
  gap: 12px;
  font-size: 24px;
  align-items: center;
  cursor: pointer;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.section h6 {
  font-weight: 800;
}

.section p {
  white-space: pre-wrap;
}

.warning {
  background: rgba(255, 39, 126, 0.1);
  border-radius: 8px;
  padding: 8px 16px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.coachInfo {
  padding: 24px;
  padding-top: 16px;
  background-color: white;
  width: 365px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 20px;
}

.imageContainer2 {
  border-radius: 8px;
  display: flex;
  justify-content: center;
}

.infoDetail {
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: flex-end;
}
