.container {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.searchbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.search {
  display: flex;
  flex-direction: row;
  gap: 16px;
  z-index: 2;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main h4 {
  font-weight: 800;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: white;
  width: 270px;
  border-radius: 8px;
  gap: 16px;
}

.sidebar h6 {
  font-weight: 600;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.list {
  padding: 24px;
  background-color: white;
  width: 850px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 16px;
}

.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout h4 {
  font-weight: 800;
}
