.functionContainer{
  display: flex;
  flex-direction:row;
  gap: 12px;
  width: 100%;
  align-items: center;
  justify-content: flex-end;
}

.bodyContainer{
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
  gap: 24px;
  width: 100%;
  align-items: center;
  justify-content: center;
}
