.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 1140px;
}

.product-container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  background-color: white;
  padding: 10px;
  border-radius: 12px;
}
