.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10005; /* 確保比其他元素都高 */
    backdrop-filter: blur(2px); /* 模糊效果 */
}

.modal {
    background-color: white;
    width: 775px;
    padding: 24px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    min-width: 300px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10006; /* 確保 modal 在 overlay 上層 */
}

.close-modal{
    position: absolute; /* 絕對定位讓它固定在右上角 */
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: var(--danger); /* 按鈕顏色 */
    cursor: pointer;
    transition: transform 0.2s ease;
}

@media screen and (max-width: 600px){
    .modal{
        width: 400px;
    }
}