.card {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.infoLeft {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.imageContainer {
  display: flex;
  gap: -60px;
}

.coach {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: absolute;
  z-index: 1;
}

.lesson {
  display: flex;
  position: relative;
}

.image {
  border-radius: 16px;
}

.heart {
  padding: 8px;
  font-size: 24px;
  cursor: pointer;
}
