.card {
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 16px;
  margin-bottom: 16px;
  cursor: pointer;
}

.info {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.infoLeft {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.infoText {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.infoText h5 {
  font-weight: 800;
}

.infoRight {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.infoRight h4 {
  color: #023e8a;
  font-weight: 800;
}

.infoDetail{
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: end;
}

.imageContainer {
  display: flex;
  position: relative;
  width: 300px;
}

.coach {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  position: absolute;
  z-index: 1;
}

.lesson {
  display: flex;
  position: absolute;
  right: 0;
}

.image {
  border-radius: 16px;
}

.heart {
  padding: 8px;
  font-size: 24px;
  right: 0;
  position: absolute;
  cursor: pointer;
}
