.container{
  display: flex;
  flex-direction: row;
  width: 406px;
  height: 116px;
  border-radius: 16px;
  padding: 10px 10px;
  align-items: center;
  justify-content: space-between;
  gap: 13px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease-in-out;  /* 讓所有變化都有動畫效果 */
  transform: scale(1) translateY(0);
}

.container:hover{
  cursor: pointer;
  transform: scale(1.01) translateY(-1px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}

.section1{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 8px;
}

.imgContainer{
  width: 100px;
  height: 100px;
  border-radius: 16px;
  overflow: hidden;  /* 加入這行 */
  position: relative; /* 加入這行 */
  
}

.imgContainer img{
  width: 100px;
  height: 100px;
  object-fit: cover;  /* 加入這行 */
  object-position: center; 
}

.itemContainer{
  display: flex;
  flex-direction: column;
  align-items: self-start; 
  min-width: fit-content;
  gap: 8px;
  font-size: 16px;
}

.itemContainer p {
  color: #AAAAAA;
}

.itemContainer h6 {  
  color: var(--main, #023E8A);
}


/* .rightContainer{
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  align-items: flex-end;  
  gap: auto;             
  height: fit-content; 
} */

.functionContainer{
  display: flex;
  flex-direction: row;
  gap: 4px;

}

.functionContainer svg{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 24px;
  height: 24px;
  gap: 4px;
  color: var(--main, #023E8A);
  fill: var(--main, #023E8A);
}

