.modal {
    background-color: white;
    top: 20px;
    left: 480px;
    width: 460px;
    height: calc(100vh - 40px); /* 扣除上下間距 */
    /* padding: 0px 20px 20px 20px; */
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start;
    align-items: center; */
    z-index: 10000; /* 確保 modal 在 overlay 上層 */
    overflow: hidden;
    transition: opacity 0.1s ease-in-out;
    /* overflow-y: auto; */
}

.modal2{
    bottom: 0px;
    left: 0px;
    width: 460px;
    height: fit-content;
    background-color: #dcf0fc ;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: fixed;
    display: flex;
    flex-direction: column;
    z-index: 10000; 
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
}

.modallog{
    /* bottom: 30px;
    left: 550px; */
    position: fixed;
    width: 960px;
    height: 900px;
    background-color: #dcf0fc ;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 10000; 
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
}

.modalupload{
    position: fixed;
    width: 750px;
    max-height: 830px;
    background-color: #ffffff ;
    border-radius: 24px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    z-index: 10000; 
    overflow: hidden;
    transition: opacity 0.2s ease-in-out;
}


.modal-header {
    position: sticky;
    top: 0;
    min-height: 50px;
    background-color: white;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    z-index: 2;
    flex-shrink: 0; /* 防止 header 被壓縮 */
}

.modal-header2 {
    position: relative; /* 改為相對定位 */
    width: 100%;
    min-height: 50px;
    background-color: #dcf0fc;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 20px;
    z-index: 2;
    flex-shrink: 0; /* 防止 header 被壓縮 */
}

.modal-content {
    flex: 1;
    overflow: hidden;
    overflow-y: auto;
    padding: 0px 20px 20px 20px;
    height: calc(100vh - 90px); /* 設定高度為視窗高度減去 header 高度和上下間距 */
    cursor: grab;  /* 設置抓取游標 */
}

.modal-content:active {
    cursor: grabbing;  /* 點擊時改變游標 */
}

.close-modal{
    position: absolute; /*絕對定位讓它固定在右上角 */
    top: 10px;
    right: 10px;
    font-size: 30px;
    color: var(--danger); /* 按鈕顏色 */
    cursor: pointer;
    transition: transform 0.2s ease;
}


.dragScroll {
    cursor: grab;
    user-select: none;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    touch-action: pan-y;  /* 添加這行 */
}

.dragScroll::-webkit-scrollbar {
    display: none;
}

.dragScroll:active {
    cursor: grabbing;
}


@media screen and (max-width: 576px){
    .overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* 確保比其他元素都高 */
    backdrop-filter: blur(2px); /* 模糊效果 */
    transition: transform 0.2s ease-in-out;
    }
    .modal{
        top: 75px;
        left: 15px;
        width: 400px;
        height: 840px;
        background-color: #dcf0fc ;
    }

    .modal2{
        width: 100%;
    }

    .modal-header {
        background-color: #dcf0fc ;
    }
}