.mapContainer{
  width: 1280px;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-color: #89A8BC;
}

.controls {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mapWrapper {
  position: relative;
  width: fit-content;
  height: auto;
  transform-origin: center center;
}

.baseMap {
  display: block;
  max-width: 100%;
  height: auto;
}

.diveSpot {
  position: absolute;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}


.spotIcon {
  width: 38px;
  height: 38px;
  fill: #a5d8f7 ;
  transition: fill 0.2s ease;
}

.diveSpot:hover .spotIcon {
  fill:#023e8a;
}

/* .spotName {
  position: absolute;
  bottom: -20px;
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 2px 6px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.2s;
} */

.diveSpot:hover .spotName {
  opacity: 1;
}


/* Mobile styles */
@media screen and (max-width: 576px) {

  .mapContainer {
    width: 100% !important;
    height: calc(100vh - 250px) !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .mapWrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }


  .baseMap {
    width: auto;
    max-width: none;
    height: 100%;
  }


  .controls {
    bottom: 20px;
    right: 20px;
    gap: 8px;
  }

  .controls svg {
    width: 24px;
    height: 24px;
  }

  /* 點擊效果 */
  .controls svg:active {
    transform: scale(0.95);
  }

  .spotIcon {
    width: 36px;
    height: 36px;
    fill: #a5d8f7 ;
    transition: fill 0.2s ease;
  }

  .diveSpot:hover .spotIcon {
    fill:#023e8a;
  }

}