.container {
  display: flex;
  flex-direction: column;
  width: 420;
  max-height: fit-content;
  align-items: flex-start;
  gap: 24px;
}

.container h5 {
  color: #023e8a;
  letter-spacing: 2px;
}

.imgintro {
  width: 400px;
  display: flex;
  justify-content: center;
}

.tabContainer {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.infoContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
}

.infoContainer p {
  color: #000000;
  letter-spacing: 0.5px;
}

.imgcarouselContainer {
  width: 400px;
  display: flex;
}

.ratingContainer {
  width: 400px;
  display: flex;
}

.logContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  overflow-x: auto;
  width: 400px;
  height: 350px;
  gap: 6px;
}

.dragScroll {
  cursor: grab;
  user-select: none;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.dragScroll::-webkit-scrollbar {
  display: none;
}

.dragScroll:active {
  cursor: grabbing;
}

.descContainer {
  width: 400px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 16px;
  width: 400px;
}

.descContainer h5 {
  text-align: center;
}

.quotationContainer {
  padding: 20px;
}

.quotation {
  display: inline-block;
  margin: 0 8px;
}

.moreContainer {
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.introcard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}
