/* 文字 間距 */
.pd-1 {
    padding: 12px;
   
    font-size: 16px;
  }
  
  .pd-1:hover {
    color: white; 
    background-color: #023e8a; 
  }
  

.pd-2 {
    padding: 12px;
   
    font-size: 16px;
}

.pd-2:hover {
    background-color: #023e8a; 
    color: white; 
  }
  

  .pd-3 {
    padding: 12px;
    
    font-size: 16px;
}

.pd-3:hover {
    background-color: #023e8a; 
    color: white; 
  }
  

  .pd-4 {
    padding: 12px;
    
    font-size: 16px;
}

.pd-4:hover {
    background-color: #023e8a; 
    color: white; 
  }
  
  .pd-5 {
    padding: 12px;
 
    font-size: 16px;
}

.pd-5:hover {
    background-color: #023e8a; 
    color: white; 
  }
  

  .pd-6 {
    padding: 12px;
   
    font-size: 16px;
}

.pd-6:hover {
    background-color: #023e8a; 
    color: white; 
  }

  .pd-7 {
    padding: 12px;
    
    font-size: 16px;
}

.pd-7:hover {
    background-color: #023e8a; 
    color: white; 
  }
  
  

.fs-16 {
  font-size: 16px;
}

.fs-20 {
  font-size: 20px;
}
.fw-800 {
  font-weight: 800;
}
.h {
  height: 480px;
}

/* 區塊 */
.container {
  width: 1140px;
  display: flex;
  margin: auto;
  /* justify-content: space-between; */
  gap: 20px;
  align-items: flex-start;
}

.left-side {
  background-color: rgb(255, 255, 255);
  width: 210px;
  padding: 24px 24px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}

/* .right-side {
  background-color: rgb(255, 255, 255);
  width: 365px;
  flex: 0 0 365px;
  padding: 24px;
  border-radius: 8px;
} */

.main {
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* 細節調整 */

.user-pic {
  margin-bottom: 16px;
}
.avetar-box {
  width: 175px;
  border-radius: 8px;
}
.avetar-cover {
  object-fit: cover;
}

.sidebar-list {
  list-style: none;
}

.sidebar-list li.active {
  background-color: #023e8a;
  color: #ffffff;
  padding: 12px 12px;
}
.sidebar-list a {
  text-decoration: none;
  color: #aaaaaa;
  display: block;
}

.sidebar-list li.active a {
  color: #ffffff;
}

.active {
  background-color: #023e8a;
}

@media screen and (max-width: 576px) {
  .container {
    width: 400px;
  }
  .left-side {
    display: none;
  }
  .main {
    width: 400px;
  }
}
