.container {
  width: 1140px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-bottom: 36px;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main h4 {
  font-weight: 800;
}

.info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.section {
  display: flex;
  flex-direction: column;
  padding: 24px;
  padding-top: 16px;
  background-color: white;
  width: 755px;
  border-radius: 8px;
  gap: 20px;
}

.payWay {
  display: flex;
  flex-direction: column;
  padding: 16px;
  padding-top: 0px;
  gap: 16px;
}

.payItem {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.warning {
  display: flex;
  flex-direction: column;
  gap: 8px;
  background: rgba(255, 39, 126, 0.1);
  border-radius: 8px;
  padding: 16px;
}

.warningItem p{
padding-top: 4px;
}

.sidebar{
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.payInfo {
  padding: 24px;
  padding-top: 16px;
  background-color: white;
  width: 365px;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  gap: 20px;
}

.payItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}