.input-content {
  width: 707px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  gap: 30px;
  padding: 30px 24px 16px 24px;
  border-top: 0.5px #aaaaaa solid;
}
.input-content2 {
  width: 707px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* align-items: center; */
  gap: 30px;
  padding: 30px 24px 16px 24px;
  border-top: 0.5px #aaaaaa solid;
}
.num-primary {
  font-size: 64px;
  color: var(--primary);
  line-height: 64px;
}
.num-gray {
  font-size: 64px;
  color: var(--02);
  line-height: 64px;
}

.num-primary,
.num-gray {
  transition: color 0.5s ease; /* 設置顏色的過渡效果 */
}

.w100 {
  width: 100%;
}
.mt23 {
  margin-top: 30px;
}
.mb23 {
  margin-bottom: 23px;
}
.mb8 {
  margin-bottom: 8px;
}

@media screen and (max-width: 600px) {
  .input-content {
    width: 100%;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 30px;
  }
  .input-top {
    display: flex;
    align-items: flex-end;
    gap: 16px;
  }
  .mt23 {
    margin-top: 0px;
  }
}
