.input-content{
    padding: 28px 65px;
    border-bottom: 0.5px #AAAAAA solid;
    border-top: 0.5px #AAAAAA solid;
    margin: 30px;
    width: 707px;
}
.input-box{
    display: flex;
    justify-content: flex-start;
}
.input-label{
    width: 157px;
    padding: 9px 30px 0 0;
    display: flex;
    justify-content: flex-end;
}
.radio-box{
    width: 100%;
    display: flex;
    gap: 20px;
    padding: 9px 0 0 0;
}
.btn-box{
    display: flex;
    gap: 16px;
}
.date-picker-box{
    width: 453px;
    margin-bottom: 24px;
}

.input-label2{
    width: 130px;
    padding: 9px 30px 0 0;
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 600px){
    .input-content{
        width: 100%;
        padding: 0px 0px;
    }
    .input-box{
        display: flex;
        flex-direction: column;
        margin-top: 6px;
    }
    .input-label{
        width: auto;
        padding: 0px 0px 7px 0;
        display: flex;
        justify-content: flex-start;
    }
    .input-box:nth-child(1){
        margin-top: 30px;
    }
    .input-label2{
        width: auto;
        padding: 0px 0px 7px 0;
        display: flex;
        justify-content: flex-start;
    }
    .date-picker-box{
        width: auto;
        margin-bottom: 24px;
    }
    .radio-box{
        width: 100%;
        display: flex;
        align-items: center;
        gap: 30px;
        padding: 0;
        margin-bottom: 30px;
    }
  }