.radio-c{
    color: #023E8A;
    margin-right: 15px;
}

.radio-n{
    color: #D9D9D9;
    margin-right: 15px;
}

.check-c{
    color: #023E8A;
    margin-right: 15px;
}

.check-n{
    margin-right: 15px;
    color: #D9D9D9;
}