/* 輸入框和錯誤訊息的容器 */
.inputContainer {
  width: 287px;
}

/* 輸入框的樣式 */
.inputField {
  width: 287px;
  height: 42px;
  padding: 10px 15px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  font-size: 16px;
  color: #333;
  box-sizing: border-box;
  outline: none;
}

/* 提示文字的樣式 */
.inputField::placeholder {
  color: #aaaaaa;
}

/* 狀態 */
.inputField:focus {
  border: 2px solid #023e8a;
}

.inputField.error {
  border: 2px solid #ff277e;
}

/* 錯誤訊息的樣式 */
.errorMessage {
  margin-top: 5px;
  font-size: 16px;
  line-height: 24px;
  color: #ff277e;
  /* 預留錯誤訊息空間以防止佈局變動 */
  min-height: 24px;
  padding-left: 15px;
}

.radio-c {
  color: var(--primary);
  margin-right: 15px;
}

.radio-n {
  color: #d9d9d9;
  margin-right: 15px;
}

.check-c {
  color: var(--primary);
  margin-right: 15px;
  font-size: 16px;
}

.check-n {
  margin-right: 15px;
  color: #d9d9d9;
  font-size: 16px;
}
