.container {
  width: 475px;
  height: 675px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px 0;
}

.title {
  margin-bottom: 25px;
}

.description {
  margin-bottom: 25px;
  padding-right: 20px;
  font-size: 16px;
  color: rgb(68, 68, 68);
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 15px;
  white-space: pre-line;
}

.price {
  margin-bottom: 25px;
  color: var(--danger);
  font-weight: bold;
}

.sizes {
  display: flex;
  margin-bottom: 25px;
}

.active {
  background-color: white;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.sizeButton {
  margin-right: 20px;
  min-width: 50px;
  padding: 3px 8px 0px 8px;
  height: 32px;
  border-radius: 16px;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  color: var(--primary);
  border: 2px solid var(--primary);
}

.disabledButton {
  background-color: grey;
  pointer-events: none;
  border: none;
  color: #fff;
}

.active {
  background-color: var(--primary);
  color: white;
}

.color {
  display: flex;
  margin-bottom: 25px;
  align-items: center;
}

.stock {
  color: grey;
  margin-bottom: 25px;
}

.addToCart {
  margin-top: auto;
  height: 56px;
  width: 400px;
  border-radius: 28px;
  background-color: var(--primary);
  color: white;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  align-self: center;
}

.addToCartDisabled {
  background-color: var(--02);
  cursor: not-allowed;
}

@media screen and (max-width: 576px) {
  .container {
    width: 100%;
    height: 100%;
  }
  .addToCart {
    width: 100%;
  }
}
