/* Container styles */
.container {
  width: 480px;
  position: relative;
}

/* Select button styles */
.selectButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  width: 100%;
  border-radius: 30px;
  padding: 12px 20px 12px 24px;
  box-sizing: border-box;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
  border: none;
  background-color: rgba(255, 255, 255, 0.05);
  box-shadow: 3px 4px 7px 0px rgba(255, 255, 255, 0.2) inset,
    0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

/* Open state: bottom corners' radius set to 0 */
.selectButton.open {
  border-radius: 30px 30px 0 0;
  border-bottom: none;
  box-shadow: 3px 4px 7px 0px rgba(255, 255, 255, 0.2) inset,
    0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
/* 
.selected {
  color: black; 
} */

/* Icons and button text */
.iconLeft {
  margin-right: 20px;
  font-size: 32px;
  color: #fff;
}
.iconRight {
  margin-left: 20px;
  font-size: 32px;
}
.buttonText {
  flex: 1;
  text-align: left;
}

/* Dropdown content */
.selectContent {
  display: block;
  position: absolute;
  top: 60px;
  width: 100%;
  border: none;
  border-radius: 0 0 30px 30px;
  z-index: 1;
  color: #fff;
  padding-bottom: 10px;
  font-size: 24px;
  box-shadow: 3px 4px 7px 0px rgba(255, 255, 255, 0.2) inset,
    0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
}

.listItem {
  padding: 10px 20px;
  cursor: pointer;
}

.listItem:hover {
  background-color: grey;
  color: white;
}

.listItem:last-child {
  border-bottom: none;
}
