/* Container styles */
.container {
  width: 220px;
  position: relative;
}

/* Select button styles */
.selectButton {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 42px;
  width: 100%;
  border: 1px solid #aaaaaa;
  border-radius: 4px;
  padding: 10px 12px;
  box-sizing: border-box;
  background-color: #fff;
  cursor: pointer;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #aaaaaa;
}

/* Open state: bottom corners' radius set to 0 */
.selectButton.open {
  border-radius: 4px 4px 0 0;
}

.selected {
  color: black; /* 已選擇後文字顏色變為黑色 */
}

/* Icons and button text */
.iconRight {
  font-size: 20px;
}
.buttonText {
  flex: 1;
  text-align: left;
}

/* Dropdown content */
.selectContent {
  display: block;
  position: absolute;
  top: 42px;
  width: 100%;
  border: none;
  border-radius: 0 0 4px 4px;
  background-color: #fff;
  z-index: 1;
  color: #aaaaaa;
  padding-bottom: 10px;
}

.listItem {
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.listItem:hover {
  background-color: #023e8a;
  color: white;
}

.listItem:last-child {
  border-bottom: none;
}
