.page {
  position: relative;
  background-color: white;
}

.homeImgContainer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 20px;
}

.homeImg {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 32px;
  z-index: -100;
  animation: imageLoad 1s ease-in;
}

/* 載入動畫 */
@keyframes imageLoad {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.homeContent {
  position: absolute;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homeSlogan {
  text-align: left;
  z-index: 1;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.homeSloganEN {
  width: fit-content;
}

.homeSlogan h2 {
  font-size: clamp(40px, 3.5vw, 64px);
  font-weight: 200;
}

.homeSlogan h3 {
  font-size: clamp(24px, 2vw, 32px);
  font-weight: 200;
}

.homeSearch {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: flex-end;
}

.homeDropdown {
  z-index: 2;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* 平板 */
@media screen and (max-width: 1024px) {
  .homeImgContainer {
    padding: 0px;
  }

  .homeImg {
    aspect-ratio: 1024/1366; /* 平板版本的寬高比 */
    border-radius: 0px;
  }

  .homeContent {
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    width: auto;
    height: 60%;
  }

  .homeSlogan {
    align-self: center;
  }
  
  .homeSlogan h2 {
    font-size: 40px;
  }

  .homeSlogan h3 {
    font-size: 24px;
  }
}

/* 手機 */
@media screen and (max-width: 576px) {
  .homeImg {
    aspect-ratio: 440/956; /* 平板版本的寬高比 */
  }
}
