.page{
  background-color: white;
}

.homeImgContainer{
  position: absolute;
  top: 20px;
  width: 100%;
  padding: 0px 20px;
}

.homeImg {
  width: 100%;
  border-radius: 32px;
  z-index: -100;
}

.homeTitle{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  top: 50%;
}

.homeSlogan {
  position: absolute;
  top: 50%;
  left: 20%;
  transform: translate(-50%, -50%);
  text-align: left;
  z-index: 1;
  color: white;
}

.homeSlogan h2{
  font-size: 64px;
  font-weight: 200;
}

.homeSlogan h3{
  font-size: 32px;
  font-weight: 200;
}

.homeDropdown {
  position: absolute;
  top: 60%;
  left: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
}